@{
    ViewBag.Title = "Brewskies";
}

<div class="jumbotron">
    <h1>Brewskies</h1>
    <p class="lead">Find a random beer, search for beers, and save them to your profile!</p>
    <p><a href="~/API/GetBeer" class="btn btn-primary btn-lg">List of Beers</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search Beers</h2>
        <p>
            99 bottles of beer on the wall...
        </p>
        <p><a class="btn btn-default" href="">Search</a></p>
    </div>
    <div class="col-md-4">
        <h2>Random Beer Generator</h2>
        <p>Parched and Indecisive?  We've got your back.</p>
        <p><a class="btn btn-default" href="~/Home/RandoBeer">Find a Random Beer</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Create an account to save your favorite beers for later.</p>
        <p><a class="btn btn-default" href="">Register</a></p>
    </div>
</div>